@{
    ViewBag.Title = "Edit project details";
}

@model CrowdDesign.Core.Entities.Project

<div id="divProjectGeneralData">
    @using (Html.BeginForm("EditProjectName", "Project", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.EditorFor(model => model.Name)

        <input type="submit" value="Alter name" />
    }
</div>

<div id="divMorphChart">
    <table id="tblMorphChart">
        <thead>
            <tr>
                <th class="cellUser">User</th>
                @if (Model != null && Model.Categories != null)
                {
                    foreach (var category in Model.Categories)
                    {
                        <th>@category.Name</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Users != null)
            {
                foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="cellUser">@user.Name</td>

                        @if (user.Sketches != null)
                        {
                            foreach (var sketch in user.Sketches)
                            {
                                <td>
                                    @if (sketch.ImageURI == null)
                                    {
                                        @Html.ActionLink("Add sketch", "EditSketch", new {SketchId = sketch.Id})
                                    }
                                    else
                                    {
                                        <a href=@Url.Action("EditSketch", "Project", new {SketchId = sketch.Id})>
                                            <img id="imgSketchThumbnail" src=@sketch.ImageURI />
                                        </a>
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="divProjectDetailsActions">
    <div>
        @using (Html.BeginForm("CreateCategory", "Project", new { ProjectId = Model.Id }, FormMethod.Post))
        {
            <input name="txtCategoryName" type="text" />
            <input type="submit" value="Create category" />
        }
    </div>

    <div>
        @using (Html.BeginForm("CreateUser", "Project", new { ProjectId = Model.Id }, FormMethod.Post))
        {
            <input name="txtUserName" type="text" />
            <input type="submit" value="Create user" />
        }
    </div>
</div>
