@{
    ViewBag.Title = "Edit sketch";
}

@model CrowdDesign.Core.Entities.Sketch

<div id="divIndeSketchMain">
    <div id="divSketchTools"></div>
    <div id="divCanvas">
        <canvas id="cnvSketch"></canvas>
    </div>

    @using (Html.BeginForm("UpdateSketch", "Project", new { ProjectId = Model.User.Project.Id }, FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Data)
        @Html.HiddenFor(model => model.ImageURI)

        <input id="btnSaveSketch" type="submit" value="Save changes" />        
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/sketch.js")
    @Scripts.Render("~/Scripts/Project/EditSketch.js")
}