@{
    ViewBag.Title = "Edit dimension";
}

@model CrowdDesign.UI.Web.Models.EditDimensionViewModel

<div id="divEditDimensionMain">
    @{
        string actionName;

        if (Model == null || !Model.DimensionId.HasValue)
        {
            actionName = "CreateDimension";
        }
        else
        {
            actionName = "UpdateDimension";
        }

        Html.ValidationSummary(true);

        <br/>

        using (Html.BeginForm(actionName, "Dimension", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ProjectId)
            @Html.HiddenFor(model => model.DimensionId)

            <div class="divEditDimensionField">
                <div>
                    @Html.LabelFor(model => model.Name, new {Class = "lblField"})
                </div>

                <div>
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="divEditDimensionField">
                <div>
                    @Html.LabelFor(model => model.SortCriteria, new {Class = "lblField"})
                </div>

                <div>
                    @Html.TextBoxFor(model => model.SortCriteria)
                    @Html.ValidationMessageFor(model => model.SortCriteria)
                </div>
            </div>

            <div class="divEditDimensionField">
                <div>
                    @Html.LabelFor(model => model.Description, new {Class = "lblField"})
                </div>

                <div>
                    @Html.TextAreaFor(model => model.Description, new {Id = "txtDescription"})
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="divDimensionField">
                <input type="submit" value="Save changes"/>
            </div>
        }

        using (Html.BeginForm("CancelAction", "Dimension", new { Model.ProjectId }, FormMethod.Post, new { onclick = "return confirm('Are you sure you don't want to save the changes?');" }))
        {
            <div class="divDimensionField">
                <input type="submit" value="Cancel" />
            </div>
        }

        if (Model != null && Model.DimensionId.HasValue)
        {
            using (Html.BeginForm("DeleteDimension", "Dimension", new { Model.DimensionId, Model.ProjectId }, FormMethod.Post, new { onclick = "return confirm('This operation cannot be undone. Are you sure you want to continue?');" }))
            {
                <div class="divDimensionField">
                    <input type="submit" value="Delete"/>
                </div>
            }
        }
    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
