@{
    ViewBag.Title = "Edit sketch";
}

@model CrowdDesign.UI.Web.Models.EditSketchViewModel

<div id="divEditSketchMain">
    <div id="divSketchTools">
        <a href="#cnvSketch" data-color="#000000" title="Black"><img src="~/Content/resources/images/black_icon.png" alt="Black" /></a>
        <a href="#cnvSketch" data-color="#ff0000" title="Red"><img src="~/Content/resources/images/red_icon.png" alt="Red" /></a>
        <a href="#cnvSketch" data-color="#00ff00" title="Green"><img src="~/Content/resources/images/green_icon.png" alt="Green" /></a>
        <a href="#cnvSketch" data-color="#0000ff" title="Blue"><img src="~/Content/resources/images/blue_icon.png" alt="Blue" /></a>
        <a href="#cnvSketch" data-color="#ffff00" title="Yellow"><img src="~/Content/resources/images/yellow_icon.png" alt="Yellow" /></a>
        <a href="#cnvSketch" data-color="#00ffff" title="Cyan"><img src="~/Content/resources/images/cyan_icon.png" alt="Cyan" /></a>
        <a href="#cnvSketch" data-color="#ffffff" title="Eraser"><img src="~/Content/resources/images/eraser_icon.png" alt="Eraser" /></a>
        <a href="#cnvSketch" data-size="1"><img src="~/Content/resources/images/pencil_icon.png" alt="Pencil" /></a>
        <a href="#cnvSketch" data-size="3"><img src="~/Content/resources/images/pen_icon.png" alt="Pen" /></a>
        <a href="#cnvSketch" data-size="5"><img src="~/Content/resources/images/stick_icon.png" alt="Stick" /></a>
        <a href="#cnvSketch" data-size="9"><img src="~/Content/resources/images/smallbrush_icon.png" alt="Small brush" /></a>
        <a href="#cnvSketch" data-size="15"><img src="~/Content/resources/images/mediumbrush_icon.png" alt="Medium brush" /></a>
        <a href="#cnvSketch" data-size="30"><img src="~/Content/resources/images/bigbrush_icon.png" alt="Big brush" /></a>
        <a href="#cnvSketch" data-size="60"><img src="~/Content/resources/images/bucket_icon.png" alt="Huge bucket" /></a>
    </div>
    <div id="divCanvas">
        <canvas id="cnvSketch"></canvas>
    </div>

    @{

        string actionName;

        if (Model == null || !Model.SketchId.HasValue)
        {
            actionName = "CreateSketch";
        }
        else
        {
            actionName = "UpdateSketch";
        }

        using (Html.BeginForm(actionName, "Sketch", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ProjectId)
            @Html.HiddenFor(model => model.DimensionId)
            @Html.HiddenFor(model => model.SketchId)
            @Html.HiddenFor(model => model.Data)
            @Html.HiddenFor(model => model.ImageUri)
            @Html.HiddenFor(model => model.Position)

            <div class="divEditSketchField">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div>
                @{
            // Display the save button in the following situations:
            // The user is an admin
            // OR the model is null or there isn't a valid sketch id (the sketch is being created)
            // OR the model is not null (the sketch is being updated) and the current user is the one that created the sketch
            if (ViewBag.UserIsAdmin || (Model == null || !Model.SketchId.HasValue) || Model.UserId.HasValue && Model.UserId == ViewBag.UserId)
            {
                <input id="btnSaveSketch" type="submit" value="Save changes" />
            }
                }
            </div>
        }
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/sketch.js")
    @Scripts.Render("~/Scripts/Custom/EditSketch.js")
    @Scripts.Render("~/bundles/jqueryval")
}