@{
    ViewBag.Title = "Edit project details";
}
@model CrowdDesign.Core.Entities.Project

@if (ViewBag.IsUserAdmin)
{
    <div id="divProjectGeneralData">
        @using (Html.BeginForm("UpdateProject", "Project", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.EditorFor(model => model.Name)

            <input type="submit" value="Alter name" />
        }
    </div>
}

<div id="divMorphChart">
    <table id="tblMorphChart">
        <thead>
            <tr>
                <th>Dimensions</th>
                @if (Model != null && Model.Dimensions != null)
                {
                    if (Model.Dimensions.Any(c => c.Sketches != null && c.Sketches.Count > 0))
                    {
                        int proposedSolutionsCount = (from c in Model.Dimensions
                            where c.Sketches != null && c.Sketches.Count > 0
                            select c.Sketches.Count()).Max();

                        if (proposedSolutionsCount > 0)
                        {
                            int i = proposedSolutionsCount + 1;
                            <th colspan="@i">Solution Alternatives</th>
                        }
                    }
                    else
                    {
                        <th>Solution Alternatives</th>
                    }
                }
                
            </tr>
        </thead>
        <tbody>

            @if (Model == null || Model.Dimensions == null || Model.Dimensions.Count == 0)
            {
                <tr>
                    <td class="tdAddNewDimension">
                        @Html.ActionLink("Add dimension", "EditDimension", "Dimension", new { ProjectId = Model != null ? (int?)Model.Id : null }, null)
                    </td>
                </tr>
            }
            else
            {
                foreach (var dimension in Model.Dimensions)
                {
                    <tr>
                        <td class="tdDimensionDraggable tdDimensionDroppable" data-dimensionid=@dimension.Id>
                            <div class="tdDimension">
                                @Html.ActionLink(dimension.Name, "EditDimension", "Dimension", new { ProjectId = Model.Id, DimensionId = dimension.Id }, new { Title = dimension.Description + "\n\nSort criteria: " + dimension.SortCriteria })
                                <p class="pDimensionDescription">
                                    @dimension.Description
                                </p>
                            </div>
                        </td>
                        @if (dimension.Sketches != null)
                        {

                            int amountOfSolutionsInRow = 0;
                            foreach (var sketch in dimension.Sketches)
                            {
                                <td>
                                    @* Removed the whole class and tags from the table cell to the div. The class names need to be changed! *@
                                    <div class="divSolutionAlternative tdSketchDraggable tdSketchDroppable @((sketch.User != null && sketch.User.Id == ViewBag.UserId) ? "tdLoggedInUserSketch" : "tdLoggedOffUserSketch")" data-sketchid=@sketch.Id>
                                        <a href=@Url.Action("EditSketch", "Sketch", new {ProjectId = Model.Id, DimensionId = dimension.Id, SketchId = sketch.Id})>
                                            <img id="imgSketchThumbnail" src=@sketch.ImageUri />
                                        </a>
                                    </div>
                                </td>

                                amountOfSolutionsInRow++;
                            }

                            //add new solution box to the row
                            <td class="tdAddNewSketch">
                                <div class="divSolutionAlternative">
                                    @Html.ActionLink("Add solution", "EditSketch", "Sketch", new { ProjectId = Model.Id, DimensionId = dimension.Id }, null)
                                </div>
                            </td>

                            int proposedSolutionsCount = 0;
                            
                            if (Model.Dimensions.Any(c => c.Sketches != null && c.Sketches.Count > 0))
                            {
                                proposedSolutionsCount = (from c in Model.Dimensions
                                    where c.Sketches != null && c.Sketches.Count > 0
                                    select c.Sketches.Count()).Max();
                            }
                            //add an empty cell to make a block
                            for (int i = 0; i < proposedSolutionsCount - amountOfSolutionsInRow; i++)
                            {
                                <td></td>
                            }


                        }
                    </tr>
                }

                <tr>
                    <td>
                        @* Removed the whole class and tags from the table cell to the div. The class names need to be changed! *@
                        <div class="tdDimension tdAddNewDimension">
                            @Html.ActionLink("Add dimension", "EditDimension", "Dimension", new { ProjectId = Model.Id }, null)
                            <p>
                                @* Here we need a plus icon *@
                            </p>

                        </div>

                    </td>

                    @{
                        
                        int emptyCellsNeeded = 0;

                        if (Model.Dimensions.Any(c => c.Sketches != null && c.Sketches.Count > 0))
                        {
                            emptyCellsNeeded = (from c in Model.Dimensions
                                where c.Sketches != null && c.Sketches.Count > 0
                                select c.Sketches.Count()).Max();
                        }
                        //add an empty cell to make a block
                        for (int i = 0; i <= emptyCellsNeeded; i++)
                        {
                        <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="divMergeConfirmationDialog" title="Merge the dimensions?">
    <p>Merging dimensions cannot be undone. Are you sure you want to continue?</p>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/Custom/EditProject.js")
}
