@{
    ViewBag.Title = "Edit project details";
}

@using CrowdDesign.Core.Entities
@model CrowdDesign.Core.Entities.Project

<div id="divProjectGeneralData">
    @using (Html.BeginForm("EditProjectName", "Project", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.EditorFor(model => model.Name)

        <input type="submit" value="Alter name" />
    }
</div>

<div id="divMorphChart">
    <table id="tblMorphChart">
        <thead>
            <tr>
                <th>Categories</th>
                @if (Model != null && Model.Categories != null)
                {
                    if (Model.Categories.Any(c => c.Sketches != null && c.Sketches.Count > 0))
                    {
                        int proposedSolutionsCount = (from c in Model.Categories
                                                      where c.Sketches != null && c.Sketches.Count > 0
                                                      select c.Sketches.Count()).Max();

                        if (proposedSolutionsCount > 0)
                        {
                            for (int i = 1; i <= proposedSolutionsCount; i++)
                            {
                                string name = "Solution Candidate " + i;

                                <th>@name</th>
                            }
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Categories == null || Model.Categories.Count == 0)
            {
                <tr>
                    <td class="cellAddNewCategory">
                        @Html.ActionLink("Create category", "EditCategory", new { ProjectId = Model != null ? (int?)Model.Id : null })
                    </td>
                </tr>
            }
            else
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@Html.ActionLink(category.Name, "EditCategory", new { ProjectId = Model.Id, CategoryId = category.Id }, new { Title = category.Description })</td>

                        @if (category.Sketches != null)
                        {
                            foreach (var sketch in category.Sketches)
                            {
                                <td>
                                    <a href=@Url.Action("EditSketch", "Project", new {ProjectId = Model.Id, CategoryId = category.Id, SketchId = sketch.Id})>
                                        <img id="imgSketchThumbnail" src=@sketch.ImageURI />
                                    </a>
                                </td>
                            }

                            <td class="cellAddNewSketch">
                                @Html.ActionLink("Add solution", "EditSketch", new { ProjectId = Model.Id, CategoryId = category.Id })
                            </td>
                        }
                    </tr>
                }

                <tr>
                    <td class="cellAddNewCategory">
                        @Html.ActionLink("Create category", "EditCategory", new { ProjectId = Model.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}
