@{
    ViewBag.Title = "Edit sketch";
}

@model CrowdDesign.UI.Web.Models.Project.EditSketchViewModel

<div id="divEditSketchMain">
    <div id="divSketchTools">
        <a href="#cnvSketch" data-color="#000000" title="Black"><img src="~/Content/resources/Project/black_icon.png" alt="Black" /></a>
        <a href="#cnvSketch" data-color="#ff0000" title="Red"><img src="~/Content/resources/Project/red_icon.png" alt="Red" /></a>
        <a href="#cnvSketch" data-color="#00ff00" title="Green"><img src="~/Content/resources/Project/green_icon.png" alt="Green" /></a>
        <a href="#cnvSketch" data-color="#0000ff" title="Blue"><img src="~/Content/resources/Project/blue_icon.png" alt="Blue" /></a>
        <a href="#cnvSketch" data-color="#ffff00" title="Yellow"><img src="~/Content/resources/Project/yellow_icon.png" alt="Yellow" /></a>
        <a href="#cnvSketch" data-color="#00ffff" title="Cyan"><img src="~/Content/resources/Project/cyan_icon.png" alt="Cyan" /></a>
        <a href="#cnvSketch" data-color="#ffffff" title="Eraser"><img src="~/Content/resources/Project/eraser_icon.png" alt="Eraser" /></a>
        <a href="#cnvSketch" data-size="1"><img src="~/Content/resources/Project/pencil_icon.png" alt="Pencil" /></a>
        <a href="#cnvSketch" data-size="3"><img src="~/Content/resources/Project/pen_icon.png" alt="Pen" /></a>
        <a href="#cnvSketch" data-size="5"><img src="~/Content/resources/Project/stick_icon.png" alt="Stick" /></a>
        <a href="#cnvSketch" data-size="9"><img src="~/Content/resources/Project/smallbrush_icon.png" alt="Small brush" /></a>
        <a href="#cnvSketch" data-size="15"><img src="~/Content/resources/Project/mediumbrush_icon.png" alt="Medium brush" /></a>
        <a href="#cnvSketch" data-size="30"><img src="~/Content/resources/Project/bigbrush_icon.png" alt="Big brush" /></a>
        <a href="#cnvSketch" data-size="60"><img src="~/Content/resources/Project/bucket_icon.png" alt="Huge bucket" /></a>
    </div>
    <div id="divCanvas">
        <canvas id="cnvSketch"></canvas>
    </div>

    @{
        if (ViewBag.UserIsAdmin || (!Model.UserId.HasValue && ViewBag.UserId > 0) || (Model.UserId.HasValue && Model.UserId == ViewBag.UserId))
        {
            string actionName;

            if (Model == null || Model.SketchId == null)
            {
                actionName = "CreateSketch";
            }
            else
            {
                actionName = "UpdateSketch";
            }

            using (Html.BeginForm(actionName, "Project", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.ProjectId)
                @Html.HiddenFor(model => model.DimensionId)
                @Html.HiddenFor(model => model.SketchId)
                @Html.HiddenFor(model => model.Data)
                @Html.HiddenFor(model => model.ImageURI)

                <input id="btnSaveSketch" type="submit" value="Save changes" />
            }
        }
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/sketch.js")
    @Scripts.Render("~/Scripts/Project/EditSketch.js")
}