@{
    ViewBag.Title = "Edit project details";
}
@model CrowdDesign.Core.Entities.Project

@if (ViewBag.IsUserAdmin)
{
    <div id="divProjectGeneralData">
        @using (Html.BeginForm("EditProjectName", "Project", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.EditorFor(model => model.Name)

            <input type="submit" value="Alter name" />
        }
    </div>
}

<div id="divMorphChart">
    <table id="tblMorphChart">
        <thead>
            <tr>
                <th>Dimensions</th>
                @if (Model != null && Model.Dimensions != null)
                {
                    if (Model.Dimensions.Any(c => c.Sketches != null && c.Sketches.Count > 0))
                    {
                        int proposedSolutionsCount = (from c in Model.Dimensions
                                                      where c.Sketches != null && c.Sketches.Count > 0
                                                      select c.Sketches.Count()).Max();

                        if (proposedSolutionsCount > 0)
                        {
                            for (int i = 1; i <= proposedSolutionsCount; i++)
                            {
                                string name = "Solution Candidate " + i;

                                <th>@name</th>
                            }
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Dimensions == null || Model.Dimensions.Count == 0)
            {
                <tr>
                    <td class="cellAddNewDimension">
                        @Html.ActionLink("Create dimension", "EditDimension", new { ProjectId = Model != null ? (int?)Model.Id : null })
                    </td>
                </tr>
            }
            else
            {
                foreach (var dimension in Model.Dimensions)
                {
                    <tr>
                        <td>@Html.ActionLink(dimension.Name, "EditDimension", new { ProjectId = Model.Id, DimensionId = dimension.Id }, new { Title = dimension.Description })</td>

                        @if (dimension.Sketches != null)
                        {
                            foreach (var sketch in dimension.Sketches)
                            {
                                string tdClass = (sketch.User != null && sketch.User.Id == ViewBag.UserId) ? "tdLoggedInUserSketch" : "tdLoggedOffUserSketch";

                                <td class=@tdClass>
                                    <a href=@Url.Action("EditSketch", "Project", new { ProjectId = Model.Id, DimensionId = dimension.Id, SketchId = sketch.Id })>
                                        <img id="imgSketchThumbnail" src=@sketch.ImageURI />
                                    </a>
                                </td>
                            }

                            <td class="cellAddNewSketch">
                                @Html.ActionLink("Add solution", "EditSketch", new { ProjectId = Model.Id, DimensionId = dimension.Id })
                            </td>
                        }
                    </tr>
                }

                <tr>
                    <td class="cellAddNewDimension">
                        @Html.ActionLink("Create dimension", "EditDimension", new { ProjectId = Model.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}
